/* Comments */
#comments {
	margin-top: 100px;
}
#respond {
	margin-top: 100px;
}
.comments-title {
	font-size: 26px;
}
.commentlist {
	#respond {
		margin-top: 0;
		@include breakpoint(large) {
			margin-left: 110px;
		}
	}
	.children {
		#respond {
			@include breakpoint(large) {
				margin-left: 95px;
			}
		}
	}
}
.comment {
	margin: 20px 0;
	padding: 5px;
	.edit-link { display: inline; }
	.comment-reply-link, .comment-edit-link {
		padding: 5px 10px;
		@include smallnavlinks();
	}
	&.bypostauthor {
		background: $yellow;
		border: solid 3px darken($yellow, 15%);
	}
	article {
		margin: 0;
		&:after {
			content: "";
			display: none;
		}
	}
	header { margin-bottom: 0; }
	.avatar {
		margin: 5px;
		width: 50px; height: 50px;
		@include box-shadow( 0 0 0 5px $lgrey );
		@include border-radius( 35px );
		@include breakpoint(large) {
			width: 70px; height: 70px;
		}
	}
	.meta-date {
		background: transparent;
		text-transform: uppercase;
		position: absolute;
		top: 28px;
		left: 80px;
		font-size: 11px;
		padding-left: 0;
		padding-right: 0;
		&:hover {
			color: $grey;
		}
		@include breakpoint(large) {
			right: 0;
			top: 0;
			left: auto;
		}
	}
	cite {
		position: absolute;
		top: 5px; left: 80px;
		font-size: 20px;
		font-weight: bold;
		font-size: 20px;
		a {
			color: #222;
			text-decoration: none;
			border-bottom: solid 1px $lgrey;
			&:hover {
				border-color: $grey;
			}
		}
		@include breakpoint(large) {
			left: 100px;
		}
	}
	.comment-content {
		line-height: 1.3;
		margin: 10px 5px 0;
		@include breakpoint(large) {
			margin-left: 100px;
			margin-top: -40px;
		}
	}
}
.children {
	margin-left: 50px;
	@include breakpoint(large) {
		margin-left: 100px;
	}
	li.comment {
		&:before {
			content: "";
			position: absolute;
			background: url(../images/arrow-grey-small.png) no-repeat;
			background-size: 32px 24px;
			left: -40px;
			top: 24px;
			width: 32px;
			height: 24px;
			@include retina() {
				background: url(../images/arrow-grey-small@2x.png);
			}
			@include breakpoint(large) {
				background: url(../images/arrow-grey-big.png);
				background-size: 39px 29px;
				left: -52px;
				top: 20px;
				width: 39px;
				height: 29px;
				@include retina() {
					background: url(../images/arrow-grey-big@2x.png);
				}
			}
		}
		&.bypostauthor:before {
			background: url(../images/arrow-yellow-small.png);
			@include retina() {
				background: url(../images/arrow-yellow-small@2x.png);
			}
			@include breakpoint(large) {
				background: url(../images/arrow-yellow-big.png);
				@include retina() {
					background: url(../images/arrow-yellow-big@2x.png);
				}
			}
		}
		.avatar {
			width: 50px;
			height: 50px;
			@include border-radius( 25px );
		}
		cite {
			left: 80px;
			font-size: 18px;
		}
		.comment-content {
			@include breakpoint(large) {
				margin-left: 80px;
				margin-top: -30px;
			}
		}
	}
	.children {
		margin-left: 45px;
		@include breakpoint(large) {
			margin-left: 80px;
		}
		li.comment {
			&:before {
				background: url(../images/arrow-grey-small.png);
				background-size: 32px 24px;
				left: -46px;
				top: 24px;
				width: 32px;
				height: 24px;
				@include retina() {
					background: url(../images/arrow-grey-small@2x.png);
				}
			}
			&.bypostauthor:before {
				background: url(../images/arrow-yellow-small.png);
				@include retina() {
					background: url(../images/arrow-yellow-small@2x.png);
				}
			}
		}
	}
}

.pingback, .trackback, .nocomments {
	margin: 20px 0;
	p {
		border-top: solid 1px $lgrey;
		border-bottom: solid 1px $lgrey;
		padding: 14px;
		font-size: 16px;
	}
}
.nocomments {
	font-style: italic;
	color: $grey;
	text-align: center;
}

/* Comment Form */
#respond {
	margin-top: 50px;
	h3 {
		font-size: 24px;
		small {
			position: absolute;
			right: 0;
			font-size: 14px;
		}
	}
	p { margin: 20px 0; }
	.required { position: absolute; }
	input, textarea { border: solid 1px $grey; }
	input, label { font-size: 16px; }
	label { font-weight: bold; width: 70px; display: block; }
	input { padding: 4px; }
	textarea {
		font-size: 14px;
		line-height: 1.4;
		padding: 8px;
		width: 100%;
		resize: vertical;
	}
	.comment-notes { font-size: 12px; font-style: italic; color: $grey; }
	.form-allowed-tags { display: none; }
	.form-submit input { padding: 8px; background: $grey; @include border-radius( 4px ); cursor: pointer; }
}