@import "compass/reset";
@import "compass/css3";

$yellow: #f8d533;
$blue: #3390f8;

$dgrey: #454545;
$grey: rgba(black, 0.2);
$lgrey: rgba(black, 0.1);

$sans: "adelle-sans", "Helvetica", sans-serif;
$serif: "modesto-text", "Bree Serif", "Georgia", serif;
$body: "ff-meta-serif-web-pro", "Cardo", "Georgia", serif;
$monospace: "inconsolata", Consolas, Monaco, monospace;

@mixin breakpoint($point) {
	@if $point == mid {
		@media (min-width: 650px) { @content; }
	}
	@else if $point == large {
		@media (min-width: 800px) { @content; }
	}
	@else if $point == huge {
		@media (min-width: 1170px) { @content; }
	}
}

@mixin retina() {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { @content; }
}

@import "global";
@import "nav";
@import "content";
@import "typography";
@import "sidebar";
@import "comments";

/* Accessibility */
.assistive-text { position: absolute; top: -9999px; left: -9999px; }
