@import "compass/reset";
@import "compass/css3";

$yellow: #f8d533;
$darkyellow: #dcb606;

$dgrey: #454545;
$grey: rgba(black, 0.2);
$lgrey: rgba(black, 0.1);

$sans: "adelle-sans", "Helvetica", sans-serif;
$serif: "adelle", "Tinos", "Georgia", serif;
$body: "ff-meta-serif-web-pro", "Cardo", "Baskerville", serif;
$monospace: "inconsolata", Consolas, Monaco, monospace;

@mixin breakpoint($point) {
	@if $point == mobile {
		@media (max-width: 650px) { @content; }
	}
	@else if $point == mid {
		@media (max-width: 800px) { @content; }
	}
	@else if $point == large {
		@media (max-width: 1170px) { @content; }
	}
}

@mixin retina() {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { @content; }
}

* {
	@include box-sizing( 'border-box' );
	position: relative;
	outline: 0;
}

html { max-width: 1460px; margin: 0 auto; }

body {
	padding: 40px 5%;
	font-family: $body;
	font-size: 14px;
	color: #222;
	@include breakpoint(mid) {
		padding: 10px 0;
	}
}

#main {
	background: white;
	padding: 4%;
	border: solid 5px #ccc;
	@include box-shadow( 0 0 20px rgba(0,0,0,.75) );
	overflow: hidden;
	@include breakpoint(mid) {
		padding: 25px 4%;
		top: 40px;
		margin-bottom: 40px;
	}
}

#content {
	width: 70%;
	float: left;
	padding-right: 3%;
	@include breakpoint(large) {
		width: auto;
		float: none;
		padding: 0;
	}
}

#sidebar {
	max-width: 340px;
	width: 30%;
	float: right;
	padding-left: 2%;
	margin: 0 auto;
	@include breakpoint(large) {
		width: auto;
		float: none;
		padding: 0;
		margin-top: 60px;
	}
}

/* Nav */
#mainnav {
	font-size: 18px;
	font-family: $sans;
	background-image: url(../images/nav-center.png);
	position: relative;
	top: 20px;
	z-index: 100;
	font-weight: bold;
	@include retina() {
		background-image: url(../images/nav-center@2x.png);
		background-size: 1px 60px;
	}
	&:before, &:after {
		content: "";
		position: absolute;
		height: 100%;
		width: 10px;
		display: block;
		top: 0;
		@include breakpoint(mid) {
			display: none;
		}
	}
	&:before {
		left: -10px;
		background-image: url(../images/nav-left.png);
		@include retina() {
			background-image: url(../images/nav-left@2x.png);
			background-size: 10px 60px;
		}
	}
	&:after {
		right: -10px;
		background-image: url(../images/nav-right.png);
		@include retina() {
			background-image: url(../images/nav-right@2x.png);
			background-size: 10px 60px;
		}
	}
	a {
		text-decoration: none;	
		color: #222;
		@include text-shadow( rgba(white, 0.5) 0 1px 0 );
		&:hover { color: #111; }
	}
	ul {
		margin-right: 200px;
		@include breakpoint(mid) {
			margin-right: 0;
		}
	}
	li {
		display: inline-block;
		position: relative;
		line-height: 56px;
		height: 60px;
		a {
			padding: 3px 20px;
			border-right: solid 1px $darkyellow;
			@include breakpoint(mid) {
				padding: 3px 10px;
			}
		}
		&:last-child {
			border-right: 0;
		}
		&.menu-item-has-children {
			padding-right: 10px;
		}
		&.menu-item-has-children:after {
			content: "";
			display: block;
			position: absolute;
			right: 16px;
			top: 8px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $darkyellow;
		}
		& > .sub-menu,
		& > .children {
			margin: 0;
			display: none;
			position: absolute;
			top: 52px;
			background: $yellow;
			font-size: 14px;
			@include border-radius( 4px );
			@include box-shadow( 0 2px 2px $lgrey );
			.sub-menu,
			.children {
				top: 0;
				left: 100%;
			}
		}
		&:hover > .sub-menu,
		&:hover > .children {
			display: block;
			z-index: 10000;
		}
	}
	.sub-menu li,
	.children li {
		height: 40px;
		line-height: 40px;
		display: block;
		&:hover { background: $darkyellow; }
		&:first-child { @include border-top-radius( 4px ); }
		&:last-child { @include border-bottom-radius( 4px ); }
		&.menu-item-has-children:after {
			top: 18px;
			right: 12px;
		}
		a {
			padding: 0 20px;
			display: block;
		}
	}
	form {
		position: static;
	}
	#searchbox {
		position: absolute;
		top: 9px;
		right: 0;
		font-size: 18px;
		border: 0;
		@include background( linear-gradient( rgba(black, 0.15), rgba(black, 0.1) ) );
		padding: 5px 10px;
		max-width: 200px;
		@include box-shadow( inset 0 1px 1px rgba(black, 0.2), inset 0 -1px 1px rgba(white, 0.1) );
		@include border-radius( 4px );
		@include transition( max-width 0.5s ease );
		&::-webkit-input-placeholder,
		&::-moz-placeholder { color: $grey; }
		&[value=""] {
			max-width: 100px;
		}
		&:focus {
			max-width: 200px;
		}
		@include breakpoint(mid) {
			top: -40px;
			left: 50%;
			right: auto;
			margin-left: -100px;
			width: 200px;
			font-size: 14px;
			color: white;
			&::-webkit-input-placeholder,
			&::-moz-placeholder { color: rgba(white, 0.2); }
			&[value=""] { max-width: 200px; }
		}
	}
	@include breakpoint(mid) {
		top: 50px;
	}
	@include breakpoint(mobile) {
		font-size: 14px;
		padding: 0 5px;
	}
}

.nav-single {
	margin: 10px 0;
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 100px;
}
@mixin smallnavlinks() {
	text-transform: uppercase;
	background: $lgrey;
	@include border-radius( 3px );
	color: $dgrey;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: $sans;
	display: inline-block;
	&:hover {
		background: $grey;
	}
}
.nav-previous, .nav-next {
	& a {
		padding: 7px 10px;
		@include smallnavlinks();
	}
}
.nav-previous { float: left; }
.nav-next { float: right; }

/* Typography */
#sitetitle {
	margin-bottom: 20px;
	font-size: 52px;
	font-family: $serif;
	@include text-shadow( rgba(white, 0.5) 0 -1px 0 );
	a {
		color: $yellow;
		font-weight: bold;
		&:hover {
			color: $darkyellow;
		}
		&:active { top: 1px; }
	}
	@include breakpoint(mid) {
		margin-bottom: 0;
		margin-top: 10px;
		margin-left: 10px;
		text-align: center;
	}
	@include breakpoint(mobile) {
		font-size: 32px;
	}
}

.page-header {
	margin-bottom: 50px;
	.taxonomy-description {
		padding: 15px;
		color: $dgrey;
		font-style: italic;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	clear: both;
	a {
		color: #222;
		text-decoration: none;
		&:hover { color: #111; }
	}
}

h1 {
	font-size: 34px;
}

/* Links */
a {
	color: blue;
	&:hover {
		color: darkblue;
	}
}

/* dates */
.meta-date {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	color: $dgrey;
	@include border-radius( 3px );
}

/* Content */
article {
	margin-bottom: 25px;
	margin: -20px;
	padding: 20px;
	overflow: hidden;
	.single & { margin-bottom: 0; }
	h1 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	header { margin-bottom: 40px; }
	.post-meta {
		span {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	img { max-width: 100%; height: auto; }
	p, pre, ul, ol, dl, dd, video, embed, audio, address, iframe {
		margin-bottom: 30px;
	}
	embed, iframe, audio, video, object {
		width: 100%;
	}
	ol, ul {
		padding-left: 20px;
		ol, ul {
			margin-bottom: 0;
		}
	}
	ol.linenums { margin-left: 12px; }
	ol { list-style: decimal; }
	ul { list-style: disc; }
	dl { margin-left: 15px; }
	dt { font-weight: bold; margin-top: 10px; }
	sup {
		vertical-align: super;
		font-size: 12px;
	}
	sub {
		vertical-align: sub;
		font-size: 12px;
	}
	.meta-date {
		padding: 3px 6px;
		margin: 5px 0;
		background: $lgrey;
	}
	&:last-child { margin-bottom: 0; }
	&:after {
		content: "~";
		color: $lgrey;
		font-size: 100px;
		text-align: center;
		font-family: "Baskerville", serif;
		display: block;
		margin-top: 25px;
	}
	.single &:after,
	&:last-child:after {
		content: "";
	}
}
.article {
	line-height: 1.6;
	h1, h2, h3, h4, h5, h6 { margin: .8em 0 .2em; }
	h1 { font-size: 24px; }
	h2 { font-size: 20px; }
	h3 { font-size: 16px; }
	h4 { font-size: 14px; }
}
.fluid-width-video-wrapper { margin-bottom: 20px; }

address, em { font-style: italic; }
strong { font-weight: bold; }
abbr { border-bottom: dotted 1px $grey; }
q:before { content: "\201C"; }
q:after { content: "\201D"; }

#footer {
	font-size: 12px;
	padding: 10px;
	color: $dgrey;
	line-height: 18px;
	a {
		color: $dgrey;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: #666;
		}
	}
	span { max-width: 50%; }
	.wisconsin {
		font-size: 18px;
		vertical-align: middle;
	}
}
.footer-left {
	text-align: left;
}
.footer-right {
	float: right;
	text-align: right;
}
.footnotes {
	font-size: 12px;
	hr {
		border: 0;
		border-top: solid 1px $lgrey;
	}
	ol {
		padding: 5px 20px;
	}
}

blockquote {
	font-size: 18px;
	font-style: italic;
	padding: 0 20px;
	border-left: solid 3px $lgrey;
	margin: 30px 20px;
	cite {
		color: $grey;
		font-style: normal;
		font-size: 14px;
		a { color: $grey; }
		&:before { content: "\2014"; margin-right: 10px; }
	}
	@include breakpoint(mid) {
		font-size: 16px;
		margin: 10px 5px;
	}
}

pre, code {
  font-family: $monospace;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 2px;
  font-size: 14px;
  @include border-radius(4px);
}
pre {
  overflow-x: scroll;
  code { background: transparent; border: 0; padding: 0; }
}

table {
	width: 100%;
	.alternate { background: $lgrey; }
	th { font-weight: bold; }
	td { padding: 5px; }
}

.post-thumbnail, .wp-caption a {
	display: inline-block;
	margin-bottom: 20px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 20;
		@include box-shadow( inset 0 0 0 1px rgba(white, 0.15), 0 0 10px rgba(black, 0.4) );
	}
	img {
		width: 100%; height: auto;
		vertical-align: bottom;
		margin-bottom: 0;
	}
}
.post-thumbnail {
	width: 100%;
}
.wp-caption-text {
	font-size: 13px;
	font-style: italic;
	color: $grey;
	text-align: center;
}
.gallery { 
	img {
		border-width: 1px !important;
		padding: 5px;
		@include box-shadow( 0 0 5px rgba(black, 0.15) );
	}
}
.gallery-caption {}

.aligncenter { margin: 0 auto; display: block; }
.alignleft { float: left; margin: 10px }
.alignright { float: right; margin: 10px; }

.page-links { clear: both; }

.sticky {}

/* Comments */
.comments-title {
	font-size: 26px;
}
.commentlist {
	#respond {
		margin-top: 0;
		margin-left: 110px;
	}
	.children {
		#respond {
			margin-left: 95px;
		}
	}
}
.comment {
	margin: 20px 0;
	padding: 5px;
	.edit-link { display: inline; }
	.comment-reply-link, .comment-edit-link {
		padding: 5px 10px;
		@include smallnavlinks();
	}
	&.bypostauthor {
		background: $yellow;
		border: solid 3px $darkyellow;
	}
	article {
		margin: 0;
		&:after {
			content: "";
			display: none;
		}
	}
	header { margin-bottom: 0; }
	.avatar {
		margin: 5px;
		width: 70px; height: 70px;
		@include box-shadow( 0 0 0 5px $lgrey );
		@include border-radius( 35px );
		@include breakpoint(mid) {
			width: 50px; height: 50px;
		}
	}
	.meta-date {
		background: transparent;
		text-transform: uppercase;
		position: absolute;
		top: 0; right: 0;
		&:hover {
			color: $darkyellow;
		}
		@include breakpoint(mid) {
			left: 0; right: auto;
			width: 60px;
			top: 60px;
			text-align: center;
			font-size: 10px;
		}
	}
	cite {
		position: absolute;
		top: 5px; left: 100px;
		font-size: 20px;
		font-weight: bold;
		a {
			color: #222;
			text-decoration: none;
			border-bottom: solid 1px $lgrey;
			&:hover {
				border-color: $grey;
			}
		}
		@include breakpoint(mid) {
			left: 80px;
			font-size: 16px;
		}
	}
	.comment-content {
		margin-left: 100px;
		margin-top: -40px;
		line-height: 1.3;
		@include breakpoint(mid) {
			margin-left: 80px;
			margin-top: -30px;
		}
	}
}
.children {
	margin-left: 100px;
	@include breakpoint(mid) {
		margin-left: 50px;
	}
	li.comment {
		&:before {
			position: absolute;
			content: url(../images/arrow-grey-big.png);
			left: -52px;
			top: 20px;
			@include retina() {
				content: url(../images/arrow-grey-big@2x.png);
			}
			@include breakpoint(mid) {
				content: url(../images/arrow-grey-small.png);
				left: -40px;
				top: 24px;
				@include retina() {
					content: url(../images/arrow-grey-small@2x.png)
				}
			}
		}
		&.bypostauthor:before {
			content: url(../images/arrow-yellow-big.png);
			@include retina() {
				content: url(../images/arrow-yellow-big@2x.png);
			}
			@include breakpoint(mid) {
				content: url(../images/arrow-yellow-small.png);
				left: -40px;
				top: 24px;
				@include retina() {
					content: url(../images/arrow-yellow-small@2x.png)
				}
			}
		}
		.avatar {
			width: 50px;
			height: 50px;
			@include border-radius( 25px );
		}
		cite {
			left: 80px;
			font-size: 16px;
		}
		.comment-content {
			margin-left: 80px;
			margin-top: -30px;
		}
	}
	.children {
		margin-left: 80px;
		@include breakpoint(mid) {
			margin-left: 45px;
		}
		li.comment {
			&:before {
				content: url(../images/arrow-grey-small.png);
				left: -46px;
				top: 24px;
				@include retina() {
					content: url(../images/arrow-grey-small@2x.png);
				}
			}
			&.bypostauthor:before {
				content: url(../images/arrow-yellow-small.png);
				@include retina() {
					content: url(../images/arrow-yellow-small@2x.png);
				}
			}
		}
	}
}
.pingback, .trackback {
	margin: 20px 0;
	p {
		border-top: solid 1px $lgrey;
		border-bottom: solid 1px $lgrey;
		padding: 14px;
		font-size: 16px;
	}
}

input {
	padding: 4px !important;
	font-size: 14px;
}
/* Comment Form */
#respond {
	margin-top: 50px;
	h3 {
		font-size: 24px;
		small {
			position: absolute;
			right: 0;
			font-size: 14px;
		}
	}
	p { margin: 20px 0; }
	.required { position: absolute; }
	input, textarea { border: solid 1px $grey; }
	input, label { font-size: 16px; }
	label { font-weight: bold; width: 70px; display: block; }
	input { padding: 4px; }
	textarea {
		font-size: 14px;
		line-height: 1.4;
		padding: 8px;
		width: 100%;
		resize: vertical;
	}
	.comment-notes { font-size: 12px; font-style: italic; color: $grey; }
	.form-allowed-tags { display: none; }
	.form-submit input { padding: 8px; background: $grey; @include border-radius( 4px ); cursor: pointer; }
}

/* Sidebar Widgets */
aside {
	margin: 40px 0;
	h1 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	li, p {
		line-height: 1.2;
		margin-bottom: 10px;
	}
}

/* Accessibility */
.assistive-text { position: absolute; top: -9999px; left: -9999px; }

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon'; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

/* Bio Widget */
.widget_v11_bio_widget {
	text-align: center;
	clear: both;
	font-family: $serif;
	margin: 0 0 30px 0;
	img {
		@include box-shadow( 0 0 0 5px $lgrey );
		@include border-radius( 51px );
	}
	.name {
		height: 112px;
		font-size: 26px;
		display: block;
	}
	.first-name, .last-name {
		position: absolute;
		line-height: 112px;
	}
	.first-name {
		right: 50%;
		margin-right: 80px;
	}
	.last-name {
		left: 50%;
		margin-left: 80px;
	}
	.bio {
		font-style: italic;
		color: $grey;
		margin: 40px 0 10px;
		line-height: 1.6;
		font-size: 13px;
	}
	&:after {
		content: "~";
		color: $lgrey;
		font-size: 100px;
		font-family: "Baskerville", serif;
	}
}

/* Icons Widget */
.widget_v11_icons_widget {
	text-align: center;
	margin-bottom: 0 0 20px 0;
	li {
		display: inline-block;	
		margin: 8px;
	}
	a {
		height: 33px;
		width: 33px;
		background-image: url(../images/icons.png);
		display: inline-block;
		text-indent: -10000px;
		@include retina() {
			background-image: url(../images/icons@2x.png);
			background-size: 413px 33px;
		}
	}

	$btnwidth: 38px * -1;
	.twitter    { background-position: $btnwidth * 0  0; }
	.dribbble   { background-position: $btnwidth * 1  0; }
	.forrst     { background-position: $btnwidth * 2  0; }
	.github     { background-position: $btnwidth * 3  0; }
	.googleplus { background-position: $btnwidth * 4  0; }
	.facebook   { background-position: $btnwidth * 5  0; }
	.linkedin   { background-position: $btnwidth * 6  0; }
	.lastfm     { background-position: $btnwidth * 7  0; }
	.skype      { background-position: $btnwidth * 8  0; }
	.flickr     { background-position: $btnwidth * 9  0; }
	.vimeo      { background-position: $btnwidth * 10 0; }

}