
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

$yellow: #f8d533;
$darkyellow: #dcb606;

$grey: #333;
$lightgrey: #aaa;
$vlightgrey: #eee;

$sans: "adelle-sans", sans-serif;
$serif: "adelle", serif;
$body: "ff-meta-serif-web-pro", serif;

* {
	@include box-sizing( 'border-box' );
	position: relative;
	outline: 0;
}

body {
	background: url(../images/bg.png);
	padding: 40px 5%;
	font-family: $body;
	font-size: 14px;
	margin: 0 auto;
}

#main {
	background: white;
	padding: 4%;
	border: solid 5px #ccc;
	@include box-shadow( 0 0 20px rgba(0,0,0,.75) );
	overflow: hidden;
}

#content {
	width: 70%;
	float: left;
	padding-right: 3%;
}

#sidebar {
	width: 30%;
	float: right;
	padding-left: 2%;
}

/* Nav */

#mainnav {
	font-size: 18px;
	font-family: $sans;
	height: 60px;
	background: url(../images/nav-center.png);
	position: relative;
	top: 20px;
	z-index: 20;
	font-weight: bold;
	&:before, &:after {
		content: "";
		position: absolute;
		height: 60px;
		width: 10px;
		display: block;
		top: 0;
	}
	&:before {
		left: -10px;
		background: url(../images/nav-left.png);
	}
	&:after {
		right: -10px;
		background: url(../images/nav-right.png);
	}
	a {
		text-decoration: none;	
		color: $grey;
		@include text-shadow( rgba(white, 0.5) 0 1px 0 );
	}
	ul { line-height: 56px; }
	li {
		display: inline;
		padding: 3px 20px;
		border-right: solid 1px $darkyellow;
		&:last-child {
			border-right: 0;
		}
		&.menu-item-has-children {
			padding-right: 30px
		}
		&.menu-item-has-children:after {
			content: "";
			display: block;
			position: absolute;
			right: 16px;
			top: 11px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $darkyellow;
		}
	}
	form { position: static; }
	#searchbox {
		position: absolute;
		top: 9px;
		right: 0;
		font-size: 18px;
		border: 0;
		background: rgba(white, 0.5);
		padding: 5px 10px;
		@include box-shadow( inset 0 1px 1px rgba(black, 0.2), inset 0 -1px 1px rgba(white, 0.1) );
		@include border-radius( 4px );
		&::-webkit-input-placeholder,
		&::-moz-placeholder { color: $lightgrey; }
	}
	li > .sub-menu {
		display: none;
		position: absolute;
		top: 35px;
		background: $yellow;
		font-size: 14px;
		line-height: 14px;
		padding-bottom: 15px;
		@include border-bottom-radius( 4px );
		@include transition( all 0.2s ease );
		@include box-shadow( 0 2px 2px rgba(black, 0.1) );
	}
	li:hover > .sub-menu {
		display: block;
		@include transition( all 0.2s .2s ease );
	}
	.sub-menu li {
		padding: 6px 20px;
		&:hover { background: $darkyellow; }
	}
}

.nav-single {
	margin: 10px 0;
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 100px;
}
.nav-previous, .nav-next {
	& a {
		padding: 0 8px;
		height: 26px;
		line-height: 26px;
		background: lightgrey;
		text-decoration: none;
		display: inline-block;
		color: $grey;
		@include border-radius( 4px );
		&:hover {
			background: $vlightgrey;
		}
	}
}
.nav-previous { float: left; }
.nav-next { float: right; }

/* Typography */

#sitetitle {
	margin-bottom: 20px;
	a {
		color: $yellow;
		font-size: 52px;
		font-weight: bold;
		font-family: $serif;
		@include text-shadow( rgba(white, 0.5) 0 -1px 0 );
		&:hover {
			color: $darkyellow;
		}
		&:active { top: 1px; }
	}
}

h1, h2, h3 {
	font-weight: bold;
	a {
		color: black;
		text-decoration: none;
		@include text-shadow( rgba(black, 0.2) 0 1px 0 );
		&:hover { color: $lightgrey; }
	}
}

h1 {
	font-size: 34px;
}

/* Links */

a {
	color: blue;
	&:hover {
		color: darkblue;
	}
}

/* Content */

article {
	margin-bottom: 25px;
	.single & { margin-bottom: 0; padding-bottom: 0; }
	h1 {
		font-size: 26px;
		margin-bottom: 10px;
	}
	header { margin-bottom: 40px; }
	.date {
		font-size: 12px;
		padding: 1px 6px;
		margin: 5px 0;
		background: lightgrey;
		@include border-radius( 3px );
	}

	p, pre, ul, ol, video, embed, audio {
		margin-bottom: 20px;
	}
	ol, ul {
		padding-left: 20px;
	}
	ol.linenums { margin-left: 12px; }
	ol { list-style: decimal; }
	ul { list-style: disc; }
	sup {
		vertical-align: super;
		font-size: 12px;
	}
	
	&:last-child { margin-bottom: 0; }
	&:after {
		content: "~";
		color: $vlightgrey;
		font-size: 100px;
		text-align: center;
		font-family: "Baskerville", serif;
		display: block;
		margin-top: 25px;
	}
	.single &:after,
	&:last-child:after {
		content: "";
	}
}
.article {
	line-height: 1.6;
	h1, h2, h3 { margin: .8em 0 .1em; }
	h1 { font-size: 20px; }
	h2 { font-size: 16px; }
	h3 { font-size: 14px; }
}
.fluid-width-video-wrapper { margin-bottom: 20px; }

#footer {
	font-size: 12px;
	padding: 10px;
	color: $grey;
}
.footer-left {
	text-align: left;
}
.footer-right {
	float: right;
}
.footnotes {
	font-size: 12px;
	hr {
		border: 0;
		border-top: solid 1px $vlightgrey;
	}
	ol {
		padding: 5px 20px;
	}
}

pre, code {
  font-family: "inconsolata", monospace;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 2px;
  font-size: 14px;
  @include border-radius(4px);
}
pre {
  overflow-x: scroll;
  code { background: transparent; border: 0; padding: 0; }
}

.wp-post-image { margin-bottom: 20px; }

/* Comments */
.comments-title {
	font-size: 26px;
}

.comment {
	margin: 20px 0;
	padding: 5px;
	&.bypostauthor {
		background: $yellow;
		border: solid 3px $darkyellow;
	}
	article {
		margin: 0;
		&:after {
			content: "";
			display: none;
		}
	}
	header { margin-bottom: 0; }
	b {
		@include border-radius( 40px );
		border: solid 5px rgba(black, 0.1);
		width: 80px;
		height: 80px;
		display: inline-block;
	}
	.avatar {
		@include border-radius( 35px );
	}
	cite {
		position: absolute;
		top: 5px; left: 100px;
		font-size: 20px;
		font-weight: bold;
		color: $grey;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color: $darkyellow;
			}
		}
	}
	.date {
		position: absolute;
		top: 0; right: 0;
		background: transparent;
		font-weight: bold;
		text-decoration: none;
		color: $grey;
		&:hover {
			color: $lightgrey;
		}
	}
	.comment-content {
		margin-left: 100px;
		margin-top: -40px;
		line-height: 1.3;
	}
}
.children {
	margin-left: 100px;
	li.comment {
		&:before {
			position: absolute;
			content: url(../images/arrow-grey-big.png);
			left: -52px;
			top: 20px;
		}
		&.bypostauthor:before { content: url(../images/arrow-yellow-big.png); }
		b {
			width: 60px;
			height: 60px;
		}
		.avatar {
			width: 50px;
			height: 50px;
			@include border-radius( 25px );
		}
		cite {
			left: 80px;
			font-size: 16px;
		}
		.comment-content {
			margin-left: 80px;
			margin-top: -30px;
		}
	}
	.children {
		margin-left: 80px;
		li.comment {
			&:before {
				content: url(../images/arrow-grey-small.png);
				left: -46px;
				top: 24px;
			}
			&.bypostauthor:before { content: url(../images/arrow-yellow-small.png); }
		}
	}
}

/* Accessibility */

.assistive-text { text-indent: -10000px; height: 0; }

/* Bio Widget */
aside { text-align: center; }
.widget_v11_bio_widget {
	font-family: $serif;
	margin-bottom: 30px;
	b {
		border: solid 5px rgba(black, 0.1);
		display: inline-block;
		width: 112px;
		height: 112px;
		@include border-radius( 56px );
	}
	img {
		@include border-radius( 51px );
	}
	.name {
		height: 112px;
		font-size: 26px;
		display: block;
	}
	.first-name, .last-name {
		position: absolute;
		line-height: 112px;
	}
	.first-name {
		right: 50%;
		margin-right: 80px;
	}
	.last-name {
		left: 50%;
		margin-left: 80px;
	}
	.bio {
		font-style: italic;
		color: $lightgrey;
		margin: 40px 0 10px;
		line-height: 1.6;
	}
	&:after {
		content: "~";
		color: $vlightgrey;
		font-size: 100px;
		font-family: "Baskerville", serif;
	}
}

/* Icons Widget */
.widget_v11_icons_widget {
	margin-bottom: 20px;
	li {
		display: inline-block;	
		margin: 8px;
	}
	a {
		height: 33px;
		width: 33px;
		background: url(../images/icons.png);
		display: inline-block;
		text-indent: -10000px;
	}
	.twitter { background-position: 0 0; }
	.dribbble { background-position: -38px 0; }
	.forrst { background-position: -76px 0; }
	.github { background-position: -114px 0; }
	.googleplus { background-position: -152px 0; }
	.facebook { background-position: -190px 0; }
	.linkedin { background-position: -228px 0; }
	.lastfm { background-position: -266px 0; }
	.skype { background-position: -304px 0; }
	.flickr { background-position: -342px 0; }
	.vimeo { background-position: -380px 0; }

}